<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <script defer type="text/javascript" src="/js/script.js"></script>-->
    <!--    <link type="text/css" rel="stylesheet" href="/css/style.css">-->
    <script defer type="text/javascript" th:src="@{/js/script.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>Word Learning App</title>
</head>
<body>
<div class="streak">연속 정답: <span id="streak">0</span></div>

<div class="card-container">
    <div id="card" class="card">
        <!-- 카드 앞면 -->
        <div class="card-face card-front">
            <!-- 단어 표시 -->
            <p id="englishWord">로딩중...</p>
        </div>
        <!-- 카드 뒷면 -->
        <div class="card-face card-back">
            <!-- 뜻 표시 -->
            <p id="koreanWord"></p>
        </div>
    </div>
</div>
<!-- 정답 오답 여부 표시 -->
<div class="message" id="message"></div>

<!-- 입력 창 -->
<div class="input-area">
    <input type="text" id="answer" placeholder="정답을 입력하세요">
    <button class="button" onclick="checkAnswer()">확인</button>
</div>

<div class="controls">
    <button class="button" onclick="showHint()">힌트</button>
    <button class="button" onclick="loadNewWord()">다음 단어</button>
</div>
</body>
</html>