<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>오늘의 단어</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pages/word/daily.css}">
    </th:block>
</head>
<body>
<main layout:fragment="content" class="daily-content-grid">
    <div class="daily-words-container">
        <div class="word-cards-wrapper">
            <div class="word-cards" id="word-cards">
                <!-- 단어 카드들이 여기에 동적으로 추가 -->
            </div>

            <div class="loading-container" id="loading">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
</main>
<th:block layout:fragment="script">
    <script th:type="module" th:src="@{/js/word/daily.js}"></script>
</th:block>
</body>
</html>